.ql-align-right {
    display: flex;
    justify-content: right;
}

.ql-align-left {
    display: flex;
    justify-content: left;
}

.ql-align-center {
    display: flex;
    justify-content: center;
}





// .preview_create_container {
//     margin: 5px auto;
//     width: 80%;
//     height: auto;
//     padding: 5px;
//     border: 6px solid blueviolet;
//     background-color: aqua;
// }

